
#background{
	background-image: url(../images/radishsquad-01.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-color: black;
}


body {
  background-color: black;
  margin: 20px;
  padding: 0;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.logo {
  float: left;
}

#navigation-container {
  width: 1200px;
  margin: 0 auto;
  height: 70px;
}

.navigation-bar {
  height: 70px;
  width: 100%;
  text-align: right;
}
.navigation-bar img{
float:left;
}
.navigation-bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
}

.navigation-bar li {
  list-style-type: none;
  padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
}

.navigation-bar li a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  line-height: 70px;
  padding: 5px 15px;
  opacity: 0.7;
  font-size: 25px;
}

.navigation-bar a:visted{
  color: white
  opacity: 0.7;
}

#menu {
  float: right;
}
h1{
  color: white;
  text-align: center;
}
p{
  color: white;
  text-align: left;
}
h2{
  color: white;
}

h3{
  color: white;
}
div#Team p{
  text-align: center;

}
div#Contact p{
  text-align: center;
}

div#Work p{
  text-align: center;
}

.floated_img
{
    float: left;
}

.floated_img_center{
    float: center;
    text-align: center;
}

.floated_img_right{
    float: right;
    text-align: right;
}